<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta description="" />
    <meta author="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <title></title>
  </head>
  <body>
    <ul>
      {% for post in object_list %}
      <li>
        {{ post.title }} {{ post.author }}<br />
        {{ post.body }}
      </li>
      {% endfor %}
    </ul>
    <script src="js/script.js"></script>
  </body>
</html>
